.carousel__item-group {
    transform: translateX(-33.33333%);
}
.carousel__item-group.slide-next {
    transition: 0.3s;
    transform: translate(-66.66666%);
}
.carousel__item-group.slide-prev {
    transition: 0.3s;
    transform: translate(-0%);
}

@media (max-width: 768px) {
    .carousel__item-group {
        transform: translateX(-50%);
    }
    .carousel__item-group.slide-next {
        transition: 0.3s;
        transform: translate(-100%);
    }
}

@media (max-width: 480px) {
    .carousel__item-group {
        transform: translateX(-100%);
    }
    .carousel__item-group.slide-next {
        transition: 0.3s;
        transform: translate(-200%);
    }
}
