@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    position: relative;
    box-sizing: border-box;
}
:root {
    --white: #fefefe;
    --black: #232323;
    --gray-text: rgba(225, 225, 225, 0.8);
    --gray-bg: #333333;
    --purple: #d355ff;
}

html {
    font-size: 16px;
    color: var(--black);
    line-height: 1;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
